body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  background-color: #f4f3f1;
  width: 500px;
  padding-top: 36px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 36px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

figcaption {
  font-family: "Homemade Apple", cursive;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 32px;
  grid-column: 1 / -1;
}

blockquote {
  width: 500px;
  padding-top: 22px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 26px;
  background-color: #f4f3f1;
  margin-top: 36px;
  text-align: center;
}

blockquote p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

blockquote footer {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
